doctype html  
html(lang='en')  
  head
    title t3
  body
    h1 t 
      sup 3
    div
      div Puzzle: 
      select(id="puzzle", name="puzzle")
        option(value="222") 2x2
        option(value="333", selected) 3x3
        option(value="444") 4x4
        option(value="555") 5x5
        option(value="666") 6x6
        option(value="777") 7x7
        option(value="clock") Clock
        option(value="minx") Megaminx
        option(value="pyram") Pyraminx
        option(value="sq1") Square 1
        option(value="skewb") Skewb
    div
      div Scramble: 
      div(id="scramble")
  div(id="timer") Space Bar to Start
  div(id="solves")
  script(src="./renderer.js")